<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6anv4q2kwxaV7Y4bu-k15nqBGqK_khd8</string>
	<key>GCM_SENDER_ID</key>
	<string>218460714542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.rhbrasil.socialrestrict</string>
	<key>PROJECT_ID</key>
	<string>homologacao-c2690</string>
	<key>STORAGE_BUCKET</key>
	<string>homologacao-c2690.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218460714542:ios:369591d1baa215362451bf</string>
</dict>
</plist>